/* hide scrollbar but allow scrolling */
html {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

/* 출처: https: //inpa.tistory.com/entry/CSS-🌟-스크롤-바Scrollbar-꾸미기-속성-총정리 [Inpa Dev 👨‍💻:티스토리] */