/* hide scrollbar but allow scrolling */
html {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.sidebar {
    overflow-y: auto;
    /* 세로 스크롤바만 사용 */
    scrollbar-width: none;
    /* Firefox를 위한 설정 */
}

/* Chrome, Safari, Opera를 위한 설정 */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* 
https://stackoverflow.com/questions/19967352/how-can-i-add-a-scroll-bar-to-a-fixed-sidebar-that-only-appears-on-hover */